<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="simple.application.php"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
         cacheResult="true"
         colors="true"
         columns="max"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory>test/unit</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="false" restrictNotices="false" restrictWarnings="false">
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">test/src</directory>
            <directory suffix=".php">test/unit</directory>
        </include>
    </source>

    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="test-coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
